.crypto-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
.crypto-logo{
    width: 20px;
    margin-right: 8px;
}
  
.price-up{
    color: #0f0;
}
  
.price-down{
    color: #f00;
  }
  
.trade-button{
    padding: 5px 10px;
    border: 1px solid #555;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
  