#crypto-list{
  height: 35rem;
  overflow-y: scroll;
}
  
  .table-header, .crypto-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding: 10px;
    border-bottom: 1px solid #333;
  }
  
  .table-header span {
    font-weight: bold;
    color: #aaa;
  }
  