.crypto-details-container {
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
  }
  .crypto-tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .crypto-tabs button {
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    color: #fff;
    background-color: #333;
    cursor: pointer;
  }
  
  .crypto-tabs .active-tab {
    background-color: #555;
  }
  
  .crypto-cards {
    display: flex;
    gap: 20px;
  }
  
  .crypto-card {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    width: 200px;
  }
  
  .crypto-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
    color: #aaa;
  }
  
  .crypto-price {
    font-size: 24px;
    font-weight: bold;
  }
  
  .crypto-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .price-up {
    color: #0f0;
  }
  
  .price-down {
    color: #f00;
  }
  