@keyframes slow-bounce {
    0% {
      transform: translateY(10px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(10px);
    }
  }
  
  .slow-bounce {
    animation: slow-bounce 3s ease-in-out infinite;
  }